/** @format */

.App {
	text-align: start;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.login-form-child {
	width: 100%;
	max-width: 350px;
	padding: 15px;
	margin: 0 auto;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
